<div class="container-fluid">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="/home">
                                Home
                            </a>
            </li>
            <li>
                <a href="#">
                                Company
                            </a>
            </li>
            <li>
                <a href="#">
                                Portfolio
                            </a>
            </li>
            <li>
                <a href="#">
                               Blog
                            </a>
            </li>
        </ul>
    </nav>
    <p class="copyright pull-right">
        &copy; 2017 <a href="#">PiDrone Projects</a> made by Miriam Gil
    </p>
</div>