<div class="sidebar-wrapper">
    <div class="logo">
        <span class="simple-text">
            Dashboard Projects
        </span>
    </div>

    <ul class="nav">
        <li>
            <a href="/home">
                <i class="pe-7s-home"></i>
                <p>Projects</p>
            </a>
        </li>
        <li>
            <a href="/user">
                <i class="pe-7s-user"></i>
                <p>User Profile</p>
            </a>
        </li>
        <li>
            <a href="/camera">
                <i class="pe-7s-camera"></i>
                <p>Foto</p>
            </a>
        </li>
        <li>
            <a href="/video">
                <i class="pe-7s-monitor"></i>
                <p>Video</p>
            </a>
        </li>
        <li>
            <a href="maps.html">
                <i class="pe-7s-map-marker"></i>
                <p>Maps</p>
            </a>
        </li>
        <li>
            <a href="notifications.html">
                <i class="pe-7s-bell"></i>
                <p>Notifications</p>
            </a>
        </li>
    </ul>
</div>