<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>PiDrone Projects</h1>
    <a href="/chat">Pagina Principal</a>
</body>

</html>