<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/chat/main.js" charset="utf-8"></script>
</head>

<body>
    <input type="button" onclick="return leds(this)" value="LED">
    <input type="button" onclick="return camera(this)" value="CAMERA">
</body>

</html>