<!doctype html>
<html lang="en">

<head>
    <% include ../partials/header %>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script src="/js/chat/main.js" charset="utf-8"></script>
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
            <% include ../partials/sidebar %>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Video Recording</a>
                    </div>
                    <% include ../partials/navbar %>

                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sidebar-wrapper">
                                <ul class="nav">
                                    <li class="active-pro">
                                        <a href="" onclick="return video(this)">
                                            <p>Hacer video</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <% include ../partials/footer %>
    </footer>


</body>

</html>